<h1>{{drinkName}}</h1>
<h3>Toppings: {{toppings}}</h3>
<h3>Inside: {{inside}}</h3>
<h3>Blended: {{blended}}</h3>
<h3>Size: {{size}}</h3>
<h3>Created By: {{creator}}</h3>
<img src="{{this.img}}" alt="" />
<a href="/drinks" class="btn btn-secondary">Back</a>